.glow-container {
    position: relative;
    background-color: var(--form-bg-color) ;
    overflow: hidden;
    border-radius: 10px;
}

.cursor-glow {
    position: absolute;
    top: -200px;
    left: 0;
    width: 200px;
    height: 100px;
    background-color: var(--cursor-bg-color) ;
    border-radius: 50%;
    filter: blur(20px);
    pointer-events: none;
    box-shadow: 0 0 100px 80px var(--cursor-shadow-color) ;
    transform: translate(-50%, -50%);
    transition: opacity 0.2s;
    opacity: 0;
}

.glow-container:hover .cursor-glow {
    opacity: 1;
}

.border-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.border-part {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: var(--box-border-color) ;
    box-shadow: 0 0 20px 2px var(--box-border-shadow) ;
    border-radius: 10px;
    opacity: 0;
    transition: opacity 0.2s;
}